# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
training_data_llm_v2_validated.csv
training_data_llm_v3_validated.csv
training_data_llm_v4_validated.csv
training_data_llm.csv
1_training_data_llm_v4_validated.csv
models/model_predicted_priority_filter.pkl
models/model_predicted_status_filter.pkl
models/model_predicted_view.pkl
